@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Ejemplo implementando un SideMenu en Blazor, sin tener que instalar Librerias, solo utilizando un Template.

<p>Lo único con lo que debemos tener cuidado es con los Javascript, generalmente podemos hacerlo desde Blazor,
    sin tener que llamar un Interop, usando clases de css</p>



<h3>Author: Colorlib</h3>
<a target="_blank" class="font-weight-bold link-dark" href="https://colorlib.com/wp/template/bootstrap-sidebar-05/"> Enlace al Sitio del Autor</a>
 


<SurveyPrompt Title="How is Blazor working for you?" />
